numpy
opencv-python
torch
soundfile
gitpython
customtkinter
gtts
pygame
pillow
pandas
ipython
psutil
pyyaml
tqdm
seaborn
pyttsx3
AppOpener
scikit-learn
psycopg2-binary
python-dotenv
mediapipe==0.10.14
ultralytics
pyserial
SpeechRecognition
